/* NAVBAR STYLES */


/* TOP NAVBAR MOBILE STYLES */

.menu.ui.mini {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.dropdown-icon {
    i {
        color: #273746;
        font-size: 2.5em;
    }
    span {
        font-size: 1.5em;
    }
}

.ui.menu .ui.dropdown .menu>.item .icon:not(.dropdown) {
    font-size: 1.5em !important;
}

.ui.dropdown .menu {
    padding: 10px 5px;
}


/* BOTTOM NAVBAR MOBILE STYLES */

.bottom-navBar {
    height: 3em;
    a.item {
        // background: rgba(0, 0, 0, 0.05) !important;
        background: transparent !important;
    }
    a.item.active {
        border-bottom: solid 5px #273746 !important;
        background: transparent !important;
    }
}


/* RECENT ACTIVITY STYLES */

.ui.feed>.event>.label {
    align-self: center;
}


/* TIMEPICKER STYLES */

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    padding-left: 0;
    padding-right: 0;
    width: 100px;
}

.react-datepicker__input-container {
    width: inherit;
}

.react-datepicker-wrapper {
    width: 100%;
}


/* CHAT COMMENTS STYLES */

.ui.comments .comment .comments {
    padding-bottom: 0 !important;
    padding-left: 2em !important;
}