@import 'shared';
@import 'components';

/*general styles*/

body {
    background-color: rgb(234, 234, 234) !important;
}


/*home page styles*/

.masthead {
    // background-image: linear-gradient(to right, #304352, #d7d2cc) !important;
    background: no-repeat center/cover url('./components/home/home-background.png') !important;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
    @include breakpoint(mobile,
    max) {
        background: no-repeat center/cover url('./components/home/home-background.png') !important;
        height: 100vh;
        width: 100vw;
    }
    padding: 0 !important;
}

.masthead.segment {
    min-height: 500px;
    height: 100vh;
    width: 100vw;
    position: absolute;
}

.text.container {
    padding: 2em 1em;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(34, 33, 33, 0.856);
    border-radius: 20px;
    @include breakpoint(mobile,
    max) {
        padding: 15% 0.6em;
    }
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
}

.masthead h1.ui.header {
    font-size: 5em;
    font-weight: 800;
    @include breakpoint(mobile,
    max) {
        font-size: 2em;
        font-weight: 900;
    }
}

.masthead h2 {
    font-size: 2.7em;
    font-weight: normal;
    @include breakpoint(mobile,
    max) {
        font-size: 1.2em;
        font-weight: normal;
    }
}

.secondary.inverted.pointing.menu {
    border: none;
}


/*end home page styles*/


/* MAIN SEGMENT */

.ui.main.container,
.main.segment {
    min-height: calc(100vh - 50px);
    padding: 0 0 7em 0 !important;
    @include breakpoint(mobile,
    max) {
        padding: 0 0 7em 0 !important;
    }
    @include breakpoint(mobile,
    min) {
        padding-top: 7em !important;
    }
}

.ui.center.aligned.segment.attendance-preview {
    background-color: #f5f5f5;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
    margin-left: 0.5em;
}

.ui.menu .item>img:not(.ui) {
    margin-right: 1.5em !important;
}

.ui.menu:not(.vertical) .item>.button {
    margin-left: 0.5em;
}